* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}
@import 'variables.scss';
@import 'price-card.scss';

body {
  width: 1440px;
  height: 1000px;
  font-family: 'Montserrat', sans-serif;
  background-color: $black;
}

.container {
  height: 100vh;
  padding: 115px 132px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
}
