@import 'variables.scss';
@import 'price-card.scss';
*{
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
    width: 1440px;
    height:1000px;

}
.container{
        display: flex;
        margin-top: 115px;
        margin-left: 132px;
}