* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}
@import 'variables.scss';
@import 'price-card.scss';

body {
  min-height: 1000px;
  font-family: 'Montserrat', sans-serif;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
}
